#title {
  text-align: center;
}

.calculator-container {
  border: 1px solid black;
  max-width: 500px;
  margin: 0 auto;
}

.calculator-display {
  background-color: black;
  color: white;
  min-height: 300px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

#current-operand {
  font-size: 2rem;
}

#previous-operand {
  font-size: 2rem;
}

.calculator_keys {
  display: grid;
  grid-row-gap: 0.625em;
  grid-column-gap: 0.625em;
  grid-template-columns: auto auto auto auto;
  margin: 0.625em;
}

.grid-item {
  border: 1px solid black;
  font-size: 1.875rem;
  padding: 0.5em;
}

.grid-item:active {
  background-color: #ccc;
}

#equal {
  grid-row: span 3;
}
